<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.turtlebotproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.example.turtlebotproject.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.turtlebotproject.MainActivity2"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.joystickActivity"
            android:label="@string/joystickName" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.scriptsActivity"
            android:label="@string/scriptName" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.accActivity"
            android:label="@string/accName" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.BTDevicesView"
            android:label="@string/title_activity_btdevices_view" >
        </activity>
		<activity
            android:label="@string/banjoName"
            android:name="com.example.turtlebotproject.banjoActivity" >
        </activity>
        <activity
            android:label="@string/cover_dockName"
            android:name="com.example.turtlebotproject.cover_dockActivity" >
        </activity>
        <activity
            android:label="@string/coverName"
            android:name="com.example.turtlebotproject.coverActivity" >
        </activity>
        <activity
            android:label="@string/figure8Name"
            android:name="com.example.turtlebotproject.figure8Activity" >
        </activity>
        <activity
            android:label="@string/mouseName"
            android:name="com.example.turtlebotproject.mouseActivity" >
        </activity>
        <activity
            android:label="@string/pachelbelName"
            android:name="com.example.turtlebotproject.pachelbelActivity" >
        </activity>
        <activity
            android:label="@string/spot_coverName"
            android:name="com.example.turtlebotproject.spot_coverActivity" >
        </activity>
        <activity
            android:label="@string/tagName"
            android:name="com.example.turtlebotproject.tagActivity" >
        </activity>
        <activity
            android:label="@string/wimpName"
            android:name="com.example.turtlebotproject.wimpActivity" >
        </activity>
        <activity
            android:label="@string/homeName"
            android:name="com.example.turtlebotproject.homeActivity" >
        </activity>
    </application>

</manifest>