<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.turtlebotproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.example.turtlebotproject.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.turtlebotproject.MainActivity2"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.joystickActivity"
            android:label="@string/joystickName" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.scriptsActivity"
            android:label="@string/scriptName" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.accActivity"
            android:label="@string/accName" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.BTDevicesView"
            android:label="@string/title_activity_btdevices_view" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.banjoActivity"
            android:label="@string/banjoName" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.cover_dockActivity"
            android:label="@string/cover_dockName" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.coverActivity"
            android:label="@string/coverName" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.figure8Activity"
            android:label="@string/figure8Name" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.mouseActivity"
            android:label="@string/mouseName" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.pachelbelActivity"
            android:label="@string/pachelbelName" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.spot_coverActivity"
            android:label="@string/spot_coverName" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.tagActivity"
            android:label="@string/tagName" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.wimpActivity"
            android:label="@string/wimpName" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.homeActivity"
            android:label="@string/homeName" >
        </activity>
        <activity
            android:name="com.example.turtlebotproject.BTDevicesScanActivity"
            android:label="@string/title_activity_btdevices_scan" >
        </activity>
    </application>

</manifest>